</div>
</div>
<script src="/js/app/bootstrap.js"></script>

<script src="/js/app/sockjs.js"></script>

<script src="/js/app/index.js"></script>

<script src="/js/app/webstomp.min.js"></script>
</body>
</html>