<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/js/app/jquery.js"></script>
    <link rel="stylesheet" href="/css/app/bootstrap.css">
</head>
<body>