{{>layout/header}}

	<div id="name" style="text-align:center;"></div>
		<div class="form-group">
			<textarea class="form-control" id="data"
				rows="15" disabled></textarea>

		</div>
		<div class="input-group mb-3">
			<input type="text" class="form-control"
				aria-label="Recipient's username" aria-describedby="button-addon2" id="message">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button"
					id="sendBtn">입력</button>
			</div>
		</div>
		<button type="button" class="btn btn-primary" onclick="roomModifyForm()">방 수정</button>
		<button type="button" class="btn btn-primary"onclick="deleteRoom()">방 삭제</button>

	<script type="text/javascript">
	var id = {{id}};
	var email = "{{userEmail}}";
		$(function (){
			$.ajax({
				url : '/api/room/select/' + id ,
				method : 'GET',
				dataType : 'json',
				contentType: "application/json; charset=UTF-8",
				success:(data)=>{
					$('#name').html('<h1>'+data.name+'</h1><div>'+data.host+'</div>');
				},
				error:(err)=>{
					alert("fail : "+ JSON.stringify(err));
				}
			});
			
			$("#sendBtn").click(function() {
	            sendMessage();
	            $('#message').val('')
	        });

	        $("#message").keydown(function(key) {
	        	if (key.keyCode == 13) {// 엔터
      	          	sendMessage();
	        		$('#message').val('');
	           	}
	        });
            var sock = new SockJS("/stomp/chat");
            var stomp = webstomp.over(sock);

            stomp.connect({}, function(frame) {
                stomp.subscribe("/sub/chat/room/" + id, function (chat) {
                    var content = JSON.parse(chat.body);
                    $("#data").append('(' + content.writer +') '+content.message+'\n');
                });
                stomp.send('/pub/chat/enter', JSON.stringify({roomId: id, writer: email}), {});

            });
            function sendMessage() {
                stomp.send('/pub/chat/message', JSON.stringify({roomId: id, type: 0, writer: email, message: $("#message").val()}), {});
            }



		});

		function roomModifyForm(){
			location.href = "/form/room/modify?id=" + id;
		}
		
		function deleteRoom(){
			$.ajax({
				url : 'api/room/delete',
				method : 'POST',
				data : JSON.stringify({
					id : id,
				}),
				dataType : 'json',
				contentType: "application/json; charset=UTF-8",
				success:(data)=>{
					alert("success : "+JSON.stringify(data));
					location.href = "/";
				},
				error:(err)=>{
					alert("fail : "+ JSON.stringify(err));
				}
			});
		}
	</script>
{{>layout/footer}}