{{>layout/header}}
	<div class="container">
		<h1>채팅방 만들기</h1>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">이름</span>
			</div>
			<input type="text" class="form-control" placeholder="RoomName"
				aria-label="Username" aria-describedby="basic-addon1" id="name">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">비밀번호</span>
			</div>
			<input type="text" class="form-control" placeholder="Password"
				aria-label="Username" aria-describedby="basic-addon1" id="pw">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">인원수</span>
			</div>
			<input type="text" class="form-control" placeholder="UserCapacity"
				aria-label="Username" aria-describedby="basic-addon1" id="capacity">
		</div>
		<button type="button" class="btn btn-primary" onclick="createRoom()">방만들기</button>
		<button type="button" class="btn btn-primary" onclick="cancel()">취소</button>
	</div>
	<script type="text/javascript">
		function createRoom() {
		    var userEmail = "{{userEmail}}"
			$.ajax({
				url : '/api/room/create',
				method : 'POST',
				data : JSON.stringify({
					name : $('#name').val(),
					pw : $('#pw').val(),
					capacity : $('#capacity').val(),
					host : userEmail
				}),

				contentType: "application/json; charset=UTF-8",
				success:(data)=>{

					location.href = "/";
				},
				error:(err)=>{
					alert("fail : "+ JSON.stringify(err));
				}
			});
		}
		
		function cancel() {
			location.href = "/";
		}

	</script>
{{>layout/footer}}