{{>layout/header}}

		<h1 style="text-align:center;">채팅방 수정하기</h1>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">이름</span>
			</div>
			<input type="text" class="form-control" placeholder="RoomName"
				aria-label="Username" aria-describedby="basic-addon1" id="name" value="{{name}}">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">비밀번호</span>
			</div>
			<input type="text" class="form-control" placeholder="Password"
				aria-label="Username" aria-describedby="basic-addon1" id="pw" value="{{pw}}">
		</div>

		<button type="button" class="btn btn-primary" onclick="modifyRoom()">방수정</button>
		<button type="button" class="btn btn-primary" onclick="cancel()">취소</button>

	<script type="text/javascript">
		function modifyRoom() {
		    var id = "{{id}}";
            var user = "{{user}}";
			$.ajax({
				url : '/api/room/update',
				method : 'POST',
				data : JSON.stringify({
					id : id,
					name : $('#name').val(),
					pw : $('#pw').val(),
					host : user
				}),
				contentType: "application/json; charset=UTF-8",
				success:(data)=>{
					alert(data);
					location.href = "/room/enter?id="+id;
				},
				error:(err)=>{
					alert("fail : "+ JSON.stringify(err));
				}
			});
		}

		function cancel() {

			location.href = "/";
		}

	</script>
{{>layout/footer}}